<div class="card-item">
  <div class="card-header">
    <div class="card-image">
      <img src="./assets/img/_product_boiler.jpg" alt="Product">
    </div>
    <div class="card-title">
      Produto
    </div>
  </div>
  <div class="card-body">
    <div class="card-details">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      </p>
      <div class="hide-details">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae alias quibusdam eveniet corrupti delectus iure itaque. Cupiditate repudiandae, officia vel, tempore, earum accusantium ipsam iusto eveniet magnam ipsa quasi possimus.
        </p>
      </div>
    </div>
    <div class="card-actions">
      <button class="btn btn-outline btn-outline-primary btn-outline-bordered btn-stretch">Selecionar</button>
    </div>
  </div>
</div>